body {
text-align: center;
font-family: arial;
font-size: 13px;
 background-image: url(http://3.bp.blogspot.com/-Y-pGBtbq0WE/UkVQZJ3VSRI/AAAAAAAACX8/Y6of0wrMXls/s1600/cool+background+wallpapers++6.jpg);
 background-attachment: fixed;
}


h1,
h2,
p {
 color: white;
}

button {

color: #FFF;
background-color: blue;
border: none;
border-radius: 3px;
padding: 5px;
margin-top: 40px
}
section {
 color: black;
 opacity: 50px;
}
