body {
text-align: center;
font-family: arial;
font-size: 13px;
 background-image: url(http://fc01.deviantart.net/fs17/f/2007/129/7/4/Stock_032__by_enchanted_stock.jpg);
 background-attachment: fixed;
}


h1,
h2,
p {
 color: white;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
 background-color: black;
}

button {

color: #FFF;
background-color: lightblue;
border: none;
border-radius: 3px;
padding: 6px;
margin-top: 40px
}
section {
    width:350px;
    float:left;
    padding:10px;


