body {
text-align: center;
font-family: arial;
font-size: 13px;
 background-image: url(http://fc01.deviantart.net/fs17/f/2007/129/7/4/Stock_032__by_enchanted_stock.jpg);
 background-attachment: fixed;
}


h1,
h2,
p {
 text-align: center;
 color: white;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
 background-color: black;
 border: none;
 border-radius: cover;
}

button {

color: #FFF;
background-color: 	#00CCFF;
border: none;
border-radius: 3px;
padding: 6px;
margin-top: 500px;
}

img {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
section {
    width:900px;
    float:center;
    padding:100px;
}

img {
    image-orientation: from-image;
